# Server
PORT=3000
NODE_ENV=development

# PostgreSQL
DATABASE_URL="postgresql://USER:PASSWORD@localhost:5432/url_shortener?schema=public"

# Redis
REDIS_URL="redis://localhost:6379"

# JWT
JWT_SECRET="your-secret-key"
JWT_EXPIRES_IN="7d"

# Application URL
BASE_URL="http://localhost:3000"